.client {
  @media (max-width: 1200px) {
    &__list {
      flex-wrap: wrap;
    }
  }

  &__logo-frame {
    padding: 16px 52px;
    border: 1px solid $svg-grey-color;
    border-radius: 4px;
  }
  @media (min-width: 768px) {
    &__logo-frame {
      padding: 16px 60px;
    }
  }
  @media (min-width: 1200px) {
    &__logo-frame {
      padding: 16px 32px;
    }
  }
  &__logo-frame:hover,
  &__logo-frame:focus {
    border-color: $blue-color;
  }
  &__logo-frame:hover .client__logo,
  &__logo-frame:focus .client__logo {
    fill: $blue-color;
  }
  &__logo {
    fill: $svg-grey-color;
  }
}
