.team {
  background-color: $light-background-color;

  &__profile {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 450px;
  }
  @media (min-width: 768px) {
    &__profile {
      width: 354px;
    }
  }
  @media (min-width: 1200px) {
    &__profile {
      width: 270px;
    }
  }

  &__figcaption {
    padding: 30px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__field-name {
    margin-top: 10px;
  }
  & .team__list {
    text-align: center;
    line-height: 1.18;
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    &__li {
      width: 358px;
    }
  }
}
