$black-color: #212121;
$blue-color: #2196f3;
$gray-color: #757575;
$dark-background-color: #2f303a;
$white-color: #fff;
$light-background-color: #f5f4fa;
$dark-black-color: #000;
$transparent-grey-color: rgba(255, 255, 255, 0.6);
$transparent-gradient-color: rgba(47, 48, 58, 0.4);
$top-bar-line: #ececec;
$portfolio-bottom-border: #eeeeee;
$svg-grey-color: #afb1b8;
$modal-contact-grey-color: rgba(117, 117, 117, 0.5);
$transition: cubic-bezier(0.4, 0, 0.2, 1);
